<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px">Número:</td>
                <td>$usuario.id</td>
            </tr>
            <tr>
                <td>Usuário:</td>
                <td>$usuario.nome</td>
            </tr>
        </table>
    </body>
</html>