<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px"></td>
                <td>MPXDS MpComunicator</td>
            </tr>
            <tr>
                <td style="width: 100px">Confirmacao:</td>
                <td>$urlUsuarioResposta</td>
            </tr>
            <tr>
                <td style="width: 100px">Mensagem:</td>
                <td>$mpMensagemMovimento.mensagem</td>
            </tr>
            <tr>
                <td>Enviado por:</td>
                <td>$mpMensagemMovimento.mpUsuario.nome</td>
            </tr>
        </table>
    </body>
</html>