<html>
    <body>
        <table>
            <tr>
                <td style="width: 100px"></td>
                <td>MpComunicator</td>
            </tr>
            <tr>
                <td style="width: 100px"></td>
                <td></td>
            </tr>
            <tr>
                <td style="width: 100px">Mensagem:</td>
                <td>$mensagem</td>
            </tr>
            <tr>
                <td>Enviado por:</td>
                <td>$mpContato.nome</td>
            </tr>
        </table>
    </body>
</html>